stages:
  - build
  - test

build:
  stage: build
  tags:
    - csl-176
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script:
    - cd $BLOG_RUNNER_PATH
    - ./runner.sh sync api_package
    - ./runner.sh build_admin install

analyse:
  stage: test
  image: composer
  tags:
    - csl2
  before_script:
    - php -v
    - composer --version
    - if [ ! -d "$CI_PROJECT_DIR/.git" ]; then
        git clone "$CI_REPOSITORY_URL" "$CI_PROJECT_DIR";
      fi
    - cd "$CI_PROJECT_DIR"
    - composer clear-cache
    - rm -rf build
  script:
    - composer install --prefer-dist --no-progress
    - composer a
  rules:
    - if: $CI_PIPELINE_SOURCE == 'push' || $CI_PIPELINE_SOURCE == 'merge_request_event'
