parameters:
    ignoreErrors:
        - message: '#Parameter \#1 \$prefix of static method Illuminate\\Support\\Facades\\Route::prefix\(\) expects string, mixed given\.#'
          path: routes/blog-api.php

        - message: '#Part \$routePrefix \(mixed\) of encapsed string cannot be cast to string\.#'
          path: routes/blog-api.php

        - message: '#Access to an undefined property CSlant\\Blog\\Api\\Http\\Controllers\\PostController::\$postRepository\.#'
          path: src/Http/Controllers/PostController.php

        - message: '#Call to an undefined static method CSlant\\Blog\\Api\\Http\\Resources\\ListPostResource::collection\(\).#'
          path: src/Http/Controllers/PostController.php

        - message: '#Cannot cast mixed to string#'
          path: '*'

        - message: '#Method CSlant\\Blog\\Api\\Services\\SlugService::getSlugModel\(\) has no return type specified#'
          path: src/Services/SlugService.php
