parameters:
    ignoreErrors:
        - message: '#Parameter \#1 \$prefix of static method Illuminate\\Support\\Facades\\Route::prefix\(\) expects string, mixed given\.#'
          path: routes/blog-api.php

        - message: '#Part \$routePrefix \(mixed\) of encapsed string cannot be cast to string\.#'
          path: routes/blog-api.php

        - message: '#Cannot cast mixed to string#'
          path: '*'

        - message: '#Cannot cast mixed to int#'
          path: '*'

        - message: '#Method CSlant\\Blog\\Api\\Services\\SlugService::getSlugModel\(\) has no return type specified#'
          path: src/Services/SlugService.php

        - message: '#.*Botble.*#'

        - message: '#.*is used zero times and is not analysed#'
          path: *.php

        -
          identifier: varTag.nativeType

        -
          identifier: method.notFound

        - message: '#Call to function method_exists\(\) with \$this\(CSlant\\Blog\\Api\\Http\\Resources\\Post\\ListPostResource\) and \'likesCountDigital\' will always evaluate to true\.#'
          path: src/Http/Resources/Post/ListPostResource.php
